.form-group label {
	font-size: 12px;
	text-transform: uppercase;
}
.error {
	color: red;
	font-size: 12px !important;
	text-transform: lowercase !important;
}
.required-span {
	color: red;
}
.list-table thead tr th {
	text-transform: uppercase;
	text-align: center;
	border: 1px solid #000;
	vertical-align: middle;
	white-space: nowrap;
	padding: 2px 5px 2px 5px;
}
.list-table tbody tr td {
	text-align: center;
	border: 1px solid #000;
	vertical-align: middle;
	white-space: nowrap;
	padding: 2px 5px 2px 5px;
}
.list-table tbody tr td p {
	margin: 0px;
}
.list-table tbody tr td a {
	margin-left: 2.5px;
	margin-right: 2.5px;
}
.list-table tfoot tr th {
	text-transform: uppercase;
	text-align: center;
	border: 1px solid #000;
	vertical-align: middle;
	white-space: nowrap;
	padding: 2px 5px 2px 5px;
}
.toast-info {
  	background-color: #3276b1;
}
.toast-info2 {
  	background-color: #2f96b4;
}
.toast-error {
  	background-color: #bd362f;
}
.toast-success {
  	background-color: #51a351;
}
.toast-warning {
  	background-color: #f89406;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.clearfix {
	clear: both;
}
.pointer-events-none {
	pointer-events: none;
}
.pagination {
	margin-top: 15px;
	margin-bottom: 0px;
}
.copy-to-clipboard {
	cursor: pointer;
}
.copy-to-clipboard input {
	width: 200px;
	height: 17px;
	margin-right: 2.5px;
}
.text-left {
	text-align: left !important;
}
.card-header select {
    height: 30px;
    width: 155px;
}
.card-header input {
    width: 150px;
    height: 30px;
}
.card-header .datetimepicker-url {
    width: 200px;
    height: 30px;
}
.card-header button {
    vertical-align: top;
    line-height: .5px;
}
.modal select {
    height: 38px;
}
.print-only {
    display: none;
}
.fa-spinner {
    display: none;
}
.modal-header h3 {
	line-height: 24px;
}
.modal-header h3 code {
	font-size: 16px;
}
.datetimepicker-minutes .table-condensed .prev:after {
	content:'\00AB';
}
.datetimepicker-minutes .table-condensed .next:after {
	content:'\00BB';
}
.datetimepicker-hours .table-condensed .prev:after {
	content:'\00AB';
}
.datetimepicker-hours .table-condensed .next:after {
	content:'\00BB';
}
.datetimepicker-days .table-condensed .prev:after {
	content:'\00AB';
}
.datetimepicker-days .table-condensed .next:after {
	content:'\00BB';
}
.datetimepicker-months .table-condensed .prev:after {
	content:'\00AB';
}
.datetimepicker-months .table-condensed .next:after {
	content:'\00BB';
}
.datetimepicker-years .table-condensed .prev:after {
	content:'\00AB';
}
.datetimepicker-years .table-condensed .next:after {
	content:'\00BB';
}
.select2-container .select2-selection--single {
    height: 38px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
}
input[type=color].form-control {
	height: 38px;
}